#main{
	display:none;
}
#welcome {
	color:white !important;
	font-family: 'Lato', sans-serif;
	background:url("images/background.png");
	background-size:100% 100%;
	position:absolute;
	top:0;
	overflow:hidden;
	position:absolute;
	right:0;
	z-index:5;
	background-color:white;
	width:100%;
	height:100%;
}
#welcome-desc{
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
#welcome-name{
	opacity:0;
	font-size:64px;
	padding:5px 20px 5px 20px;
	margin-bottom:10px;
	animation:godown 1s ease-in-out forwards;
}
#welcome-name span{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#welcome-title{
	opacity:0;
	font-size:25px;
	animation:godown2 1s ease-in-out forwards;
	animation-delay: 1s;
}
#showContent{
	animation:blink 1.5s infinite;
	opacity:0;
	font-size:42px;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    
}
#welcome i:hover{
	cursor:pointer;
}
@keyframes godown {
	from{
		opacity:0;
		transform:translateX(-60%);
	}
	to{
		opacity:1;
		transform:translateX(0%);
	}
}
@keyframes godown2 {
	from{
		opacity:0;
		transform:translateX(60%);
	}
	to{
		opacity:1;
		transform:translateX(0%);
	}
}

@keyframes hideLeft {
	from{
		height:100%;
	}to{
		height:0%;
	}	

}
@keyframes blink {
	0%{
		transform:translateX(-50%) scale(1) ;
	}
	50%{
		transform:translateX(-50%) scale(1.3);
	}
	100%{
		transform:translateX(-50%) scale(1) ;
	}
}

@media screen and (max-width: 780px) {
#welcome-name{
	font-size:35px;
}
#welcome-title{
	font-size:18px;
}

}