body {
  margin: 90px 0px 90px 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/background.jpg) no-repeat;
  background-size: 100% 100%;
  color: white;
  font-family: 'Text Me One', sans-serif; }

#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2); }
  #container > * {
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  #container .content {
    display: flex;
    text-align: center;
    padding: 10px; }
  #container .short {
    width: 30%;
    background-height: 100%; }
  #container .long {
    width: 70%; }
  #container .full-width {
    width: 100%; }
  #container #about > div {
    display: inline; }
  #container #technologies img {
    width: 50px;
    margin: 0px 10px 0px 10px; }
  #container #projects .project-container {
    width: 30%;
    height: 90%;
    position: relative;
    perspective: 3000px; }
    #container #projects .project-container .card {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transition: transform 1s; }
      #container #projects .project-container .card figure {
        margin: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden; }
      #container #projects .project-container .card .front {
        background: red; }
      #container #projects .project-container .card .back {
        transform: rotateY(180deg);
        border: solid gray 1px;
        background-color: rgba(0, 0, 0, 0.5); }
        #container #projects .project-container .card .back .project-name {
          margin: 20px 0px 10px 0px;
          font-weight: bold;
          font-size: 24px; }
        #container #projects .project-container .card .back .description {
          margin: 0px 3px 0px 3px; }
        #container #projects .project-container .card .back .project-type {
          margin-top: 20px; }
        #container #projects .project-container .card .back .url {
          position: fixed;
          bottom: 7px;
          left: 50%;
          transform: translateX(-50%); }
          #container #projects .project-container .card .back .url i {
            width: 30px;
            opacity: 0.7; }
          #container #projects .project-container .card .back .url i:hover {
            cursor: pointer;
            opacity: 1; }

.flipped {
  transform: rotateY(180deg); }

#menu {
  font-family: 'Josefin Sans', sans-serif;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  font-size: 19px;
  letter-spacing: 1px;
  text-align: center; }
  #menu ul {
    overflow: hidden;
    padding: 0;
    text-align: center; }
    #menu ul li {
      display: inline;
      margin: 0px 10px 0px 10px;
      cursor: pointer;
      opacity: 0.7; }
    #menu ul li:hover {
      opacity: 1; }
  #menu #menu-button {
    display: none; }

form {
  margin-top: 1em; }

form > * {
  display: block;
  margin: 0 auto; }

/*MOBILE*/
@media screen and (max-width: 780px) {
  #menu {
    width: 100%; }
    #menu #menu-items {
      margin: 0;
      display: block;
      overflow: hidden;
      height: 0px;
      animation-duration: 0.5s;
      animation-fill-mode: forwards; }
    #menu ul {
      display: none; }
      #menu ul li {
        background-color: gray;
        margin: 0px;
        margin-bottom: 1px;
        padding: 5px 0px 5px 0px;
        display: block; }
        #menu ul li:hover {
          background-color: gray; }
        #menu ul li:last-child {
          margin-bottom: 0px; }
    #menu #menu-button {
      cursor: pointer;
      display: inline-block; } }
/*ANIMATION*/
@keyframes slideup {
  from {
    height: 0px; }
  to {
    height: 124px; } }
@keyframes slidedown {
  from {
    height: 124px; }
  to {
    height: 0px; } }
@keyframes rotate{
  0%{
     transform: rotateY(0deg);
  }
  50%{
     transform: rotateY(180deg);
  } 
  100%{
     transform: rotateY(0deg);
  }
}
/*# sourceMappingURL=style.css.map */

/*form*/
.center{
  margin:0 auto;
}
.cntc{
  width:70%;
}
form{
  margin:0 auto;
}
form input{
  text-align:center;
}
form input,textarea{
  width:70%;
  margin-top:10px;
  margin-bottom:10px;
  padding:10px;
  resize:none;
  overflow:hidden;
  background:rgba(0,0,0,0.5);
  border:gray;
  color:white;
}
form input:focus,textarea:focus{
  outline:none !important;
  border:1px solid orange;

}
form button{
  width:50%;
  margin:0 auto;
  padding:10px;
  background:none;
  border:none;
  color:white;
  transition:0.4s;
}

form button:hover{
  background:rgba(0,0,0,0.5);
  cursor:pointer;
}

#contactico a > i{
  font-size:40px;
  margin-left:10px;
  color:orange;
  transition:0.5s;
}
#contactico a >i:hover{
  transform:scale(1.5);
}
#cntc-info > div{
  margin-bottom:5px;
}
.same-line{
  position:relative;
  bottom:6px;
  margin-left:5px;
}
.correct{
  border:solid 1px #45db00;
}
.wrong{
  border:solid 1px #db0000;
}
#wrong-prompt{
  display:none;
}