@charset "UTF-8";
body{
	margin:90px 0px 90px 0px ;
background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/background.jpg) no-repeat;
  background-size: 100% 100%;
  color:white;
  font-family: 'Text Me One', sans-serif;
}
#container{
	width:100%;
	height:100%;
	margin:0 auto;
	background-color:rgba(0,0,0,0.2);
	&>*{
		width:70%;
		margin:0 auto;
		position:relative;
		top:50%;
		transform:translateY(-50%)
	}
	.content{
	display:flex;
	text-align:center;
	padding:10px;
	}
	.short{
	width:30%;
	background-height:100%

	}
	.long{
		width:70%;
	}
	.full-width{
		width:100%;
	}
	#about > div {
	display:inline;
	}
	#technologies img{
		width:50px;
		margin:0px 10px 0px 10px;
	}
	#projects {
		.project-container{
			width: 30%;
			height: 90%;
			position: relative;
			perspective: 3000px;
			.card{
				width: 100%;
				height: 100%;
				position: absolute;
				transform-style: preserve-3d;
				transition: transform 1s;
				figure{
					margin: 0;
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					backface-visibility: hidden;
				}

				.front{
				  	background: red;

				}
				.back{
				  	transform: rotateY( 180deg );
				  	border:solid gray 1px;
				  	background-color: rgba(0,0,0,0.5);
				  	.project-name{
				  		margin:20px 0px 10px 0px;
				  		font-weight: bold;
				  		font-size:24px
				  	}
				  	.description{
				  		margin:0px 3px 0px 3px;
				  	}
				  	.project-type{
				  		margin-top:20px;
				  	}
				  	.url{
				  		position:fixed;
				  		bottom:7px;
				  		left:50%;
				  		transform:translateX(-50%);
				  		i{
				  			width:30px;
				  			opacity:0.7;
				  		}
				  		i:hover{
				  			cursor:pointer;
				  			opacity:1;
				  		}
				  	}
				}

			}
		}

	}
}
.flipped{
	transform: rotateY( 180deg );
	}
#menu{
	font-family: 'Josefin Sans', sans-serif;
	position:fixed;
	bottom:20px;
	left:50%;
	transform:translate(-50%);
	font-size:19px;
	letter-spacing: 1px;
	text-align:center;
	ul{
		overflow:hidden;
		padding:0;
		text-align:center;
		li{
			&{
				display:inline;
				margin:0px 10px 0px 10px;
				cursor:pointer;
				opacity:0.7;
			}
			&:hover{
				opacity:1;
			}
		}
	}
	#menu-button{
		display:none;
	}
}



form{
	margin-top:1em;
}
form > *{
	display:block;
	margin:0 auto;
}
/*MOBILE*/

@media screen and (max-width:780px){
#menu {
	width:100%;
	#menu-items{
		margin:0;
		display:block;
		overflow:hidden;
		height:0px;
		animation-duration:0.5s;
		animation-fill-mode:forwards;
	}
	ul  {
		display:none;
		li{
			background-color:gray;
			margin:0px;
			margin-bottom:1px;
			padding:5px 0px 5px 0px;
			display:block;
			&:hover{
				background-color:gray;
			}
			&:last-child{
				margin-bottom:0px;
			}
		}
	}
	#menu-button{
		cursor:pointer;
		display:inline-block;
	}
}

}

/*ANIMATION*/

@keyframes slideup{
	from {
		height:0px;
	}
	to {
		height:124px;
	}
}
@keyframes slidedown{
	from {
		height:124px;
	}
	to{
		height:0px;
	}
}
