#main{
}
#welcome {
	font-family: 'Lato', sans-serif;
	background:url("images/background.png");
	background-size:100% 100%;
	position:absolute;
	top:0;
	overflow:hidden;
	position:absolute;
	right:0;
	z-index:5;
	color:black;
	background-color:white;
	width:100%;
	height:100%;
}
#welcome-desc{
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
#welcome-name{
	opacity:0;
	font-size:64px;
	border-top:1px solid black;
	border-bottom:1px solid black;
	padding:5px 20px 5px 20px;
	margin-bottom:10px;
	animation:godown 1s ease-in-out forwards;
}
#welcome-name span{
	font-weight: bold;
}
#welcome-title{
	opacity:0;
	font-size:25px;
	animation:godown 1s ease-in-out forwards;
	animation-delay: 1s;
}
#showContent{
	animation:blink 1.5s infinite;
	opacity:0;
	font-size:42px;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    
}
#welcome i:hover{
	cursor:pointer;
}
@keyframes godown {
	from{
		opacity:0;
		transform:scale(2);
	}
	to{
		opacity:1;
		transform:scale(1);
	}
}

@keyframes hideLeft {
	from{
		height:100%;
	}to{
		height:0%;
	}	

}
@keyframes blink {
	from{
		transform:scale(1)
	}
	to{
		transform:scale(2);
	}
}