body {
  margin: 0 auto;
  padding: 90px 0px 90px 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/background2.jpg) no-repeat;
  background-size: 100% 100%;
  color: white;
  font-family: 'Lato', sans-serif;
   }

#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.4); }
  #container .content {
    display: flex;
    text-align: center;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    overflow:hidden;
    animation-duration: 1s;
    animation-fill-mode: forwards;

  }
  #container .short {
    width: 30%;
    background-height: 100%; }
  #container .long {
    width: 70%; }
  #container .full-width {
    width: 100%; }
    #container #about{
    width:40%; }
  #container #about > div {
    font-size:15px;
    display: inline; }
  #container #projects .project-container {
    width: 25%;
    height: 70%;
    margin:0 auto;
    position: relative;
    perspective: 3000px; }
    #container #projects .project-container .card {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transition: transform 1s; }
      #container #projects .project-container .card figure {
        margin: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden; }
      #container #projects .project-container .card .front {
        background: red; }
      #container #projects .project-container .card .back {
        transform: rotateY(180deg);
        background-color: rgba(0, 0, 0, 0.5); }
        #container #projects .project-container .card .back .descc {
          width: 90%;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
          #container #projects .project-container .card .back .descc .project-name {
            margin: 20px 0px 10px 0px;
            font-weight: bold;
            font-size: 24px; }
          #container #projects .project-container .card .back .descc .description {
            margin: 0px 3px 0px 3px; }
          #container #projects .project-container .card .back .descc .project-type {
            margin-top: 20px; }
        #container #projects .project-container .card .back .url {
          position: fixed;
          bottom: 7px;
          left: 50%;
          transform: translateX(-50%); }
          #container #projects .project-container .card .back .url i {
            width: 30px;
            opacity: 0.7; }
          #container #projects .project-container .card .back .url a {
            color:white;
            text-decoration:none; }
          #container #projects .project-container .card .back .url i:hover {
            cursor: pointer;
            opacity: 1; }

.flipped {
  transform: rotateY(180deg); }

#menu {
  font-family: 'Quicksand', sans-serif; 
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%);
  font-size: 21px;
  text-align: center; }
  #menu ul {
    overflow: hidden;
    padding: 0;
    text-align: center; }
    #menu ul li {
      display: inline;
      margin: 0px 10px 0px 10px;
      cursor: pointer;
      opacity: 0.6; }
    #menu ul li:hover {
      opacity: 1; }
  #menu #menu-button {
    display: none; }
.menu-opacity{
  opacity:1 !important;
  color:orange;
}
form {
  margin: 0 auto; }
  form > * {
    display: block;
    margin: 0 auto; }
  form input {
    text-align: center; }
  form input, form textarea {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid transparent;
    color: white; }
    form input:focus, form textarea:focus {
      outline: none !important;
      border-color: orange; }
  form button {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    background: none;
    border: none;
    color: white;
    transition: 0.4s; }
    form button:hover {
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer; }
    form button:focus {
      outline: none !important; }

#cntc-info {
  position: fixed;
  top: 50%;
  transform: translateY(-50%); }
  #cntc-info div {
    margin-bottom: 5px; }
#contactico{
    margin:20px 20px;
}
#contactico a{
  margin-left:40px;
  padding:5px;
}
#contactico a i {

  font-size: 20px;
  color: white;}
#contactico a:first-child{
  margin-left:0px;
}
#contactico a i:hover {
  color:#64B5F6;
}
}

/*polygon boxes
/*# sourceMappingURL=style.css.map */
.container-flex {
  width: auto;
  display: inline-block;
  margin: 50px; }

  /*# sourceMappingURL=style.css.map
  .container-flex{
    display:block;
    margin:0 auto;
  }

   */
.hex {
  width: 70px;
  height: 40px;
  background-color: #FFC107;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 173px;
  position: relative;
  float: left;
  margin: 25px 5px;
  text-align: center;
  zoom: 1;
  transition: 0.3s; }
  .hex:hover {
    cursor: pointer;
    transform: scale(1.2); }
  .hex .corner-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -2;
    overflow: hidden;
    backface-visibility: hidden; }
  .hex .corner-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -2;
    overflow: hidden;
    backface-visibility: hidden; }
  .hex .corner-1 {
    z-index: -1;
    transform: rotate(60deg); }
  .hex .corner-2 {
    transform: rotate(-60deg); }

.row3 {
  margin-left: 40px; }

.row2 {
  margin-left: 0px; }
  .row2 > .hex {
    background-color: #ffce3a; }

.row1 {
  margin-left: 40px; }
  .row1 > .hex {
    background-color: #ffdb6d; }

.near-margin {
  margin-top: 5px; }

.img-cover {
  height: 100%; }

.title {
  font-family: 'Text Me One', sans-serif;
  position: fixed;
  top: 40px;
  left: 20px;
  font-size: 32px; 
  overflow:hidden;
}
.title-animation{
    animation-duration: 1s;
  animation-fill-mode: forwards
}

.tools-style {
  background-color: #64B5F6 !important; }

.tools-style-font {
  color: #64B5F6; }

.tech-style-font {
  color: #FFC107; }



/*MOBILE*/
@media screen and (max-width: 780px) {

#container .short{
  width:100% !important;
}
#container .long{
  width:100% !important;
}
#cntc-info{
  position:initial;
  transform:none;
}
#container #about{
  width:80%;
}

#technologies{
  width:auto !important; 
}
.container-flex{
  margin:0;
}
.row3, .row1{
  margin-left:40px;
}
.row2{
  margin-left:10px;
}
.hex{
    width: 50px;
    height: 28px;
}


  #menu {
    width: 100%; 
    font-size:19px;
    bottom:0px;
    }
    #menu i{
      padding:4px;
      color:#FFC107;
    }
    #menu #menu-items {
      margin: 0;
      display: block;
      overflow: hidden;
      height: 0px;
      animation-duration: 0.5s;
      animation-fill-mode: forwards; }
    #menu ul {
      display: none; }
      #menu ul li {
        opacity:1;
        background-color: rgba(0,0,0,0.6);
        margin: 0px;
        margin-bottom: 1px;
        padding: 5px 0px 5px 0px;
        display: block; }
        #menu ul li:hover {
          background-color: gray; }
        #menu ul li:last-child {
          margin-bottom: 0px; }
    #menu #menu-button {
      cursor: pointer;
      display: inline-block; } 

#container{
  height:auto;
  padding-top:20px;
  padding-bottom:20px;
}
#container .content{
  transform:none;

}
.title{
  position:absolute;
  width:220px;
}
  #container #projects .project-container {
    width: 100%;
    height:80%;
    margin:none;
        margin:none;
    margin-top:15px;
    margin-bottom:15px;}
    .card-margin{

    }

@keyframes slideLeft{
  from{
    width:19px;
  }
  to {
    width:220px;
  }
}
    }
/*ANIMATION*/
@keyframes slideup {
  from {
    height: 0px; }
  to {
    height: 136px; } }
@keyframes slidedown {
  from {
    height: 136px; }
  to {
    height: 0px; } }
@keyframes rotate {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes showCnt{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@keyframes showCnt{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@keyframes slideLeft{
  from{
    width:19px;
  }
  to {
    width:500px;
  }
}

.same-line {
  position: relative;
  bottom: 6px;
  margin-left: 5px; }

.correct {
  border: solid 1px #45db00; }

.wrong {
  border: solid 1px #db0000; }

.center {
  margin: 0 auto; }

#wrong-prompt {
  display: none; }

#circle-of-death {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border: 2px solid orange;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: rotate 1.5s linear infinite; }

#send-text {
  display: block; }

.tools-style-border {
  border-top: solid 1px #64B5F6; 
transition: border 1s;
}

.tech-style-border {
  border-top: solid 1px #FFC107;
  transition: border 1s; }
.tools-style-border:hover{
  border-top:solid 3px #64B5F6;
}
.tech-style-border:hover{
  border-top:solid 3px #FFC107;
}

#tech-title{
  margin-top:20px;
  font-size:17px;
  letter-spacing:1px;
}

#about-photo img{
  border-radius:50%;
  width:180px;
}

body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/*# sourceMappingURL=style.css.map */
