#concerts .concert {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  text-align: center;
  display: flex;
  width: 100%; }
  #concerts .concert .data, #concerts .concert .place, #concerts .concert .city {
    margin: 20px; }
  #concerts .concert .data {
    color: yellow;
    flex: 0 0 20%; }
  #concerts .concert .place {
    flex: 0 0 40%; }
  #concerts .concert .city {
    flex: 0 0 40%; }
