#menu {
  font-family: 'Josefin Sans', sans-serif;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%);
  font-size: 23px;
  letter-spacing: 1px;
  text-align: center; }
  #menu ul {
    overflow: hidden;
    padding: 0;
    text-align: center; }
    #menu ul li {
      display: inline;
      margin: 0px 10px 0px 10px;
      cursor: pointer;
      opacity: 0.7; }
    #menu ul li:hover {
      opacity: 1 !important; }
  #menu #menu-button {
    display: none; }
