@charset "UTF-8";
body{
	margin:0 auto;
	background-image:url("../../images/background.jpg");
	background-size:cover;
	color:white;
	font-family: 'Text Me One', sans-serif;
}
#container{
	width:100%;
	height:80vh;
	margin: 10vh 0;
	background-color:rgba(0, 0, 0, .5);
	.content{
	display:flex;
	text-align:center;
	width:70%;
		margin:0 auto;
		position:relative;
		top:50%;
		transform:translateY(-50%)
	}
}

#circle-of-death{
	width: 20px;
    height: 20px;
    margin: 0 auto;
    border:2px solid orange;
    border-top:2px solid rgba(0,0,0,0);
    border-radius:50%;
    animation:rotate 1.5s linear infinite;
}
.flipped{
	transform: rotateY( 180deg );
}
.title{
	font-family: 'Josefin Sans', sans-serif;
	position: absolute;
    top: 40px;
    left: 10px;
    font-size: 40px;
}
.full{
	width:100%;
}

#welcome{
	top:0;
	background-color:#181619;
	z-index:9999;
	position:absolute;
	width:100%;
	height:100%;
	img{
		width:20%;
		position:relative;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%)
	}
}